.dart_tool/
.packages
.pub/
build/

.idea/
*.iml

android/.gradle/
android/local.properties

pubspec.lock

flutter_export_environment.sh

**/GeneratedPluginRegistrant.*
windows/flutter/ephemeral/

.DS_Store
